<div class="body">
    <div class="container">
    <p class="gr-index"><%=  notice %></p>
        <div class="row">

            <%= render 'shared/side', user: @user, book: @book %>

            <div class="col-xs-9">
		        <h2>Book detail</h2>
		        <table class="table">
		            <tbody>
                        <td><%= link_to user_path(@showbook.user) do %>
                            <%= attachment_image_tag @showbook.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"%>
                            <br><%= @showbook.user.name %><% end %>
                        </td>
                        <td><%= link_to book_path(@showbook) do %><%= @showbook.title %><% end %></td>
                        <td><%= @showbook.body %></td>
                        <% if @showbook.favorited_by?(current_user) %>
                            <th>
                                <%= link_to book_favorites_path(@showbook.id), method: :delete do %>
                                    <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></span>
                                    <%= @showbook.favorites.count %> いいね
                                <% end %>
                            </th>
                        <% else %>
                            <th>
                                <%= link_to book_favorites_path(@showbook), method: :post do %>
                                    <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
                                    <%= @showbook.favorites.count %> いいね
                                <% end %>
                            </th>
                        <% end %>

                        <% if @showbook.user == current_user %>
                            <td><%= link_to edit_book_path(@showbook) do %><span class="btn-sm btn-success edit_book">Edit</span><% end %></td>
                            <td><%= link_to "Destroy", book_path(@showbook), method: :delete, class:"btn-sm btn-danger destroy_book", "data-confirm" => "本当に消しますか？" %></td>
                        <% else %>
                            <td></td>
                            <td></td>
                        <% end %>
                    </tbody>
                </table>

                <table>
                    <% @showbook.book_comments.each do |book_comment| %>
                        <tbody>
                            <td><%= attachment_image_tag book_comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no2_image.jpg"%></td>
                            <td><%= book_comment.comment %></td>
                            <td>
                                <% if book_comment.user == current_user %>
                                    <td><%= link_to "Destroy",  book_book_comment_path(book_comment.book, book_comment), method: :delete, class:"btn-sm btn-danger destroy_book"%></td>
                                <% end %>
                            </td>
                        </tbody>
                    <% end %>
                </table>
                <br>

                <%= form_with(model:[@showbook, @book_comment], local: true) do |f| %>
                    <%= f.text_area :comment, rows:'5', class: "form-control"%>
                    <%= f.submit "送信", class: "pull-right" %>
                <% end %>
            </div>
        </div>
    </div>
</div>

